.no_padding {
    padding: 0 !important;
}

.content_block {
    background-color: #F3F4F8;
}

.sidebar_block {
    background: #1e5799;
    background: -moz-linear-gradient(left, #1e5799 0%, #207cca 0%, #28bdf2 0%, #0993eb 100%);
    background: -webkit-linear-gradient(left, #1e5799 0%,#207cca 0%,#28bdf2 0%,#0993eb 100%);
    background: linear-gradient(to right, #1e5799 0%,#207cca 0%,#28bdf2 0%,#0993eb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#0993eb',GradientType=1 );
}

#sidebar form .title {
    display: block;
    color: #414141;
    font-family: arial;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-left: 10px;
    margin-bottom: 0px;
}

#sidebar form input[type=text],
#sidebar form input[type=number],
#sidebar form select {
    height: 32px;
    border-radius: 0;
    border: none;
    color: #787878;
}

#sidebar form .select_box,
#sidebar form .dob_select_box {
    position: relative;
}

#sidebar form .select_box:after,
#sidebar form .dob_select_box:after {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 9px solid #787878;
    position: absolute;
    top: 39px;
    right: 15px;
    content: "";
    cursor: pointer;
    z-index: 99;
}

#sidebar form .dob_select_box:after {
    top: 13px;
    right: 45%;
}

#sidebar form .dob_select_box.year:after {
    top: 13px;
    right: 30px;
}

#sidebar form .select_box select{
    font-size: 14px;
    letter-spacing: 0.3px;
    cursor: pointer;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    position: relative;
    z-index: 98;
}

#sidebar form .dob_fields select {
    width: 70%;
    cursor: pointer;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

#sidebar form .dob_fields select#dobyear {
    width: 100%;
}

#sidebar form .dob_fields small {
    font-size: 10px;
    margin-left: 10px;
    margin-top: 2px;
}

#sidebar form .salary_symbol {
    position: relative;
}

#sidebar form .salary_symbol:before {
    content: '$';
    position: absolute;
    top: 4px;
    left: 10px;
    z-index: 1;
    color: #787878;
}

#sidebar form .salary_symbol input {
    padding-left: 22px;
}

#sidebar form .form-check {
    padding-left: 10px;
    display: block;
    clear: both;
    float: left;
}

#sidebar form .form-check label {
    color: #787878;
    width: 85px;
    font-size: 14px;
    cursor: pointer;
}

.gender_container {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gender_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 5px;
    right: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.gender_container:hover input ~ .checkmark {
    background-color: #ccc;
}

.gender_container input:checked ~ .checkmark {
    background-color: #FFFFFF;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.gender_container input:checked ~ .checkmark:after {
    display: block;
}

.gender_container .checkmark:after {
    top: 3px;
    right: 3px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #787878;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

form#dump-uploader {
    float: right;
    margin-top: -38px;
}

.content_block .align-self-center {
    width: 90%;
}

.dataTables_wrapper .dataTables_scroll {
    background-color: #FEFEFE;
    border-radius: 14px;
}

.dataTables_wrapper table {
    font-size: 14px;
    background-color: #FEFEFE;
    border: none;
}

.dataTables_wrapper table tbody td:first-child {
    border-left: none !important;
}

.dataTables_wrapper table tbody td:last-child {
    border-right: none !important;
}

.dataTables_wrapper table {
    -webkit-border-bottom-left-radius: 14px;
    -moz-border-bottom-left-radius: 14px;
    border-bottom-left-radius: 14px;
    -webkit-border-bottom-right-radius: 14px;
    -moz-border-bottom-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border: 1px solid #EBEDEF;
}

.dataTables_scrollHead table {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    border: 1px solid #EBEDEF !important;
}

.dataTables_scrollHead th {
    text-transform: capitalize;
    color: #31BCEC;
    border: none !important;
    padding: 15px 18px !important;
    text-align: center;
}

.dataTables_scrollBody table,
.dataTables_scrollBody {
    border: none !important;
}

.dataTables_scrollBody tr:not(:last-child) td {
    border-bottom: 1px solid #EBEDEF !important;
}

.dataTables_scrollBody tr td:first-child {
    color: #414141;
    font-weight: bold;
}

.dataTables_scrollBody td {
    border: none !important;
    text-align: center;
    color: #787878;
}

.dataTables_scrollHead th:not(:last-child),
.dataTables_scrollBody td:not(:last-child) {
    border-right: 1px solid #EBEDEF !important;
}

.dataTables_scrollBody tr:last-child td {
    padding-bottom: 20px;
}

.dataTables_scrollHead th:first-child {
    text-transform: uppercase;
}

table.dataTable thead .sorting_asc {
    background-image: url("../img/sort_asc.png") !important;
}

table.dataTable thead .sorting_desc {
    background-image: url("../img/sort_desc.png") !important;
}

.dataTables_filter {
    background-color: #fff;
    border-radius: 14px;
    height: 26px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 230px;
}

.dataTables_filter label:before {
    background-image: url("../img/search-icon.png");
    display: inline-block;
    content: "";
    height: 20px;
    left: -20px;
    position: relative;
    top: 4px;
    width: 20px;
    z-index: 2;
}

.dataTables_filter label.hide_search_icon:before {
    display: none;
}

.dataTables_filter label {
    position: absolute;
    color: transparent;
    height: 100%;
    left: 0;
    line-height: normal;
    margin: 0;
    padding: 0;
    top: 0;
    text-align: center;
    z-index: 1;
    width: 100%;
}

.dataTables_filter input {
    display: block;
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

.dataTables_filter input:focus {
    outline: none;
}

.dataTables_filter input::-webkit-input-placeholder:before {
    content: "aaa";
}

.dataTables_filter input::-webkit-input-placeholder {
    color: #818181;
    transition: text-indent .4s ease;
    -webkit-transition: text-indent .4s ease;
    -moz-transition: text-indent .4s ease;
    -o-transition: text-indent .4s ease;
}

.dataTables_filter input::-moz-placeholder {
    color: #818181;
    opacity: 1;
    transition: text-indent .4s ease;
    -webkit-transition: text-indent .4s ease;
    -moz-transition: text-indent .4s ease;
    -o-transition: text-indent .4s ease;
}

.dataTables_filter input:-ms-input-placeholder {
    color: #818181;
    transition: text-indent .4s ease;
    -webkit-transition: text-indent .4s ease;
    -moz-transition: text-indent .4s ease;
    -o-transition: text-indent .4s ease;
}

.dataTables_filter input:-moz-placeholder {
    color: #818181;
    opacity: 1;
    transition: text-indent .4s ease;
    -webkit-transition: text-indent .4s ease;
    -moz-transition: text-indent .4s ease;
    -o-transition: text-indent .4s ease;
}


.dataTables_filter input:focus::-webkit-input-placeholder {
    text-indent: 250px;
}

.dataTables_filter input:focus::-moz-placeholder {
    text-indent: 250px;
}

.dataTables_filter input:focus:-ms-input-placeholder {
    text-indent: 250px;
}

.dataTables_filter input:focus:-moz-placeholder {
    text-indent: 250px;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    -webkit-overflow-scrolling: touch;
    scrollbar-base-color: #139ae7;
    scrollbar-3dlight-color: #fff;
    scrollbar-highlight-color: #139ae7;
    scrollbar-track-color: #E9E9E9;
    scrollbar-arrow-color: #139ae7;
    scrollbar-shadow-color: #139ae7;
    scrollbar-dark-shadow-color: #139ae7;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody::-webkit-scrollbar-thumb,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBodyblock::-webkit-scrollbar-track,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody::-webkit-scrollbar {
    border-radius: 3px;
    height: 6px;
    width: 6px;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody::-webkit-scrollbar-track {
    background-color: #E9E9E9;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background-color: #139ae7;
}

.upload-btn {
    display: none;
}

#datatable_table_length select,
#datatable_table_length select:focus {
    border: none !important;
    border-radius: 14px;
}

#datatable_table_length,
#datatable_table_length select,
#datatable_table_filter input {
    color: #787878;
}

.table-striped tbody tr {
    background-color: transparent !important;
}
